$primary: #ff8484;
$white: #fffefb;
$filter-text: #49485e;
$black: #3f3f3f;
$bg-black: #1b2d37;
$tablet-width: 1023px;
$desktop-width: 1920px;
$mobile-width: 767px;
$desktop-width-only: 1024px;
$text-black: #1d1613;
$card-bg: #f0eae4;
$grey: #eeeeee;
$placeholder: #b4b4b4;
$color-transparent: rgba(255, 255, 255, 0);
